.resimSlider {
	height: 400px;
}

body {
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
}

.hakkinda {
	background-color: white;
}

.ayrac {
	border: none;
	border-top: 3px solid #343a40;
	max-width: 250px;
	margin: 25px auto;
}

.ibeyaz {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid #f2f2f2;
	background-color: #f2f2f2;
}

.hk {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid white;
	background-color: white;
}

.igri {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid wheat;
	background-color: wheat;
}

.ilg {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid lightsalmon;
	background-color: lightsalmon;
}

.sehir {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid lighblue;
	background-color: lightblue;
}

.miras {
	color: 3343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border: 10px solid papayawhip;
	background-color: papayawhip;
}

.galeri {
	background-color: wheat;
}

.figure:hover {
	opacity: 0.8;
}


.ozgecmis {
	background-color: wheat;
}

.ilgilendiklerim {
	background-color: lightsalmon;
}

.sehrim {
	background-color: lightblue;
}

.mirasimiz {
	background-color: papayawhip;
}

form {
	background-color: #f2f2f2;
	color: black;
	text-align: center;
	width: 980px;
	margin: auto;
}


.contactParts {
	width: 600px;
	height: 300px;
	position: relative;
	float: left;
	margin-left: 55px;

}

h1 {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 50px;
}

input {
	width: 300px;
	height: 40px;
	position: relative;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}

inputLeft {

	float: left
}

inputRight {
	float: right;
}


textarea {
	width: 500px;
	height: 200px;
	position: relative;
	margin-top: 20px;
	padding: 10px;
	resize: none;
	border-radius: 10px;
}


.submit {
	width: 300px;
	height: 40px;

	position: relative;
	border: 1px;
	margin-top: 20px;
	margin-left: 100px;
	border-radius: 10px;
}

.submit:hover {
	cursor: pointer;
	background: #e74c3c;
	color: aliceblue;
	border-radius: 10px;
}


iframe {
	margin-top: 1px;
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
}

.all-ozgecmis {
	margin: 0;
	padding: 5px;
	background-color: darkseagreen;
}

.all-ozgecmis > h1,
.ozgecmis {
	margin: 50px;
	padding: 3px;
}

.ozgecmis {
	background: wheat;
}

.ozgecmis > p {
	margin: 20px;
	font-size: 90%;
}

